<div class="container">
    <h1><%= title %></h1>

    <% if (messages.error) { %>
        <div class="flash-message error"><%= messages.error %></div>
    <% } %>

    <% if (errors) { %>
        <ul class="notice">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
      <%  }) %>
       </ul>
      <% } %>

    <form action="/account/register" method="POST">
        <p>Please fill out this form to create an account.</p>
        <p class="passwordInfo">All fields are required.</p>
        <div>
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="account_firstname" id="accountFirstname" required value="<%= locals.account_firstname %>" data-trail="firstName">
        </div>

        <div>
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="account_lastname" id="accountLastname" required value="<%= locals.account_lastname %>" data-trail="lastName">
        </div>

        <div>
            <label for="email">Email Address</label>
            <input type="email" placeholder="Enter a valid email address" name="account_email" id="accountEmail" required value="<%= locals.account_email %>" data-trail="email">
        </div>
       
        <div class="showPassword">
            <label for="pword">Password:</label>
            <input type="password" name="account_password" id="pword" required
              pattern="^(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*])[A-Za-z0-9!@#$%^&*]{12,}$"
              title="Password must be at least 12 characters long, contain at least 1 uppercase letter, 1 number, and 1 special character.">
        </div>

        <div>
            <p class="passwordInfo">Password must be at least 12 characters long and include at least one uppercase letter, one number, and one special character.</p>
        </div>
        <div class="btnContainer">
            <span id="pswdBtn" style="cursor: pointer;">Show Password</span>
            <button class="regBtn" type="submit">Register</button>
        </div>

    </form>
</div>

<script src="/js/script.js"></script>