<div class="container">
    <h1><%= title %></h1>

    <%- messages() %>

    <% if (successMessage.length > 0) { %>
        <div class="alert alert-success">
          <%= successMessage %>
        </div>
      <% } %>
      
      <% if (errorMessage.length > 0) { %>
        <div class="flash-message error"><%= errorMessage %></div>
      <% } %>

    <nav id="invNav">
        <p>Use the links below to manage classifications and inventory items:</p>
        <ul>
            <li><a href="/inv/add-classification">Add New Classification</a></li>
            <li><a href="/inv/add-inventory">Add New Inventory Item</a></li>
        </ul>
    </nav>

    <h2>Manage Inventory</h2>
    <p>Choose a classification to see the inventory items:</p>

    <!-- EJS code to display the classification select list -->
    <%- classificationSelect %>

    <!-- Empty table to display inventory items -->
    <table id="inventoryDisplay"></table>

    <!-- NoScript message -->
    <noscript>JavaScript must be enabled to use this page.</noscript>

    <!-- Link to the JavaScript file that will manage inventory updates -->
    <script src="/js/inventory.js"></script>

</div>
